{{ 'product-slider.css' | asset_url | stylesheet_tag }}
<div class="items-row">
  {% for product in productList %}
    {% render 'product-card', product: product %}
  {% endfor %}

  {% for product in productList %}
    {% render 'product-card', product: product %}
  {% endfor %}
</div>
