{{ 'product-card.css' | asset_url | stylesheet_tag }}

<div class="product-card">
  <img src="{{product.featured_image | image_url}}" alt="Product Image" class="product-image">
  <h2 class="product-title">{{ product.title | link_to: product.url }}</h2>

  <p class="product-price">{{ product.price | money }}</p>
</div>
