<div class="collections">
  <h1>Collections</h1>

  <h1>Hello world</h1>
  {% for collection in collections %}
    <a href="{{collection.url}}"> {{ collection.title }}</a>
    <p>Total products : {{ collection.all_products_count }}</p>
  {% endfor %}
</div>

<style>
    .collections {
    background-color: {{section.settings.bg}};
  }
</style>

{% schema %}
{
  "name": "Collections",
  "presets": [
    {
      "name": "Collections"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
