{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
<div class="product-slider">
  <div class="title">
    {{ section.settings.collection.title }}
  </div>

  {% render 'product-slider', productList: section.settings.collection.products %}
</div>

<style></style>

{% schema %}
{
  "name": "Featured Collection",
  "presets": [
    {
      "name": "Featured Collection"
    }
  ],
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color Top Section",
      "default": "#33688C"
    },
    {
      "type": "color",
      "id": "bg-bottom",
      "label": "Background Color Botom Section",
      "default": "#37749F"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color Top Section",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color-bottom",
      "label": "Text Color Bottom Section",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "search-button-color",
      "label": "Search Button Color",
      "default": "#FAFDFF"
    },
    {
      "type": "color",
      "id": "search-button-text-color",
      "label": "Search Button Text Color",
      "default": "#33688C"
    }
  ]
}
{% endschema %}
