{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
<div class="product-slider">
  <div class="title">
    {{ section.settings.collection.title }}
  </div>

  {% render 'product-slider',
    productList: section.settings.collection.products,
    maxItem: section.settings.numOfProducts
  %}
</div>

<style></style>

{% schema %}
{
  "name": "Featured Collection",
  "presets": [
    {
      "name": "Featured Collection"
    }
  ],
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "number",
      "id": "numOfProducts",
      "label": "Maximum Number of Products",
      "default": 5
    }
  ]
}
{% endschema %}
