.collection-card {
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 250px;
  flex-shrink: 0;
}

.collection-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.collection-image {
  max-width: 100%;
  height: 180px;
}

.collection-title {
  font-size: 1rem;
  margin: 10px 0;
}
