.items-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  overflow-x: scroll;
}
.items-row::before,
.items-row::after {
  content: "";
  margin: auto;
}
